modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libXrender", "xorg.libXtst", "xorg.libxcb", "xorg.libXi", "xorg.libxshmfence", "gtk3", "nss", "nspr", "alsa-lib", "at-spi2-atk", "cups", "dbus", "libdrm", "mesa", "pango", "cairo", "glib", "gdk-pixbuf", "xorg.libXScrnSaver", "libxkbcommon", "xvfb-run"]

[userenv]

[userenv.shared]
ELECTRON_DISABLE_SANDBOX = "1"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DiscordBotClient"

[[workflows.workflow]]
name = "DiscordBotClient"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export LD_LIBRARY_PATH=\"/nix/store/wilz94hzz4q3fss6qvv625zvww4a6s4s-mesa-libgbm-25.0.1/lib:${LD_LIBRARY_PATH:-}\" && xvfb-run --auto-servernum --server-args=\"-screen 0 1280x720x24\" npx electron . --no-sandbox --disable-gpu --disable-dev-shm-usage --disable-software-rasterizer --js-flags=\"--max-old-space-size=512\""
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
